@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #e0e9f5;
}

main {
  margin-top: 0;
  text-align: center;
}

h1,
h2,
h3,
p {
  color: #042b5f;
}

.Button {
  border: 1px solid #521751;
  font: inherit;
  padding: 8px;
  background-color: #521751;
  color: white;
  cursor: pointer;
}

.Button:hover,
.Button:active {
  background-color: #fa923f;
}